.DS_Store

# Rider
.idea/

# Build
[Bb]in/
[Oo]bj/

# NuGet Packages
# The packages folder can be ignored because of Package Restore
[Pp]ackages/*
# except build/, which is used as an MSBuild target.
![Pp]ackages/build/

# ReSharper
[Rr]e[Ss]harper
DotSettings.user
